# ansible-managed in ooni/devops.git

map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    listen 443 ssl http2;

    include /etc/nginx/ssl_intermediate.conf;

    ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/chain.pem;

    server_name _;
    access_log  /var/log/nginx/{{ inventory_hostname }}.access.log;
    error_log   /var/log/nginx/{{ inventory_hostname }}.log warn;

    add_header Access-Control-Allow-Origin *;

    ## JupyterHub configuration
    location / {
        proxy_pass http://127.0.0.1:8888;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

	    client_max_body_size 100M;

        # WebSocket support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Scheme $scheme;
        proxy_buffering off;
    }
}