temporal_address = "ooni-pipeline.uuhzf.tmprl.cloud:7233"
temporal_namespace = "ooni-pipeline.uuhzf"
temporal_tls_client_cert_path = "/etc/ooni/pipeline/ooni-pipeline.uuhzf.crt"
temporal_tls_client_key_path = "/etc/ooni/pipeline/ooni-pipeline.uuhzf.key"
clickhouse_write_batch_size = 30000
clickhouse_url = "{{ clickhouse_url }}"
prometheus_bind_address = "127.0.0.1:9998"
data_dir = "/srv/oonipipeline/data_dir"
