# OONI Pipeline worker service
[Unit]

[Service]
User=oonipipeline
Restart=always
WorkingDirectory={{ oonipipeline_runtime_dir }}
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
Environment="CONFIG_FILE=/etc/ooni/pipeline/oonipipeline-config.toml"
ExecStart={{ miniconda_install_dir }}/bin/python -m oonipipeline.main startworkers

[Install]
# Start service when system boots
WantedBy=multi-user.target
